<div class="view-error">
  <div class="row" set-browser-title="Error | ">
      <div class="col-md-6 ">
          <p>
            Sorry. It seems something went wrong.
            You can go back to the <a href="{{previousUrl}}">previous</a> or <a href="/">home page</a>.
          </p>
          <p>If you keep seeing this page, you can <a href="">report an issue</a> and we will gladly check it out for you.</p>
      </div>
      <div class="col-md-6">
        <img src="modules/core/img/cry.png" height="300" width="420" />
      </div>

  </div>
</div>
