<section id="home" class="home"><!--slider-->
  <div class="container well">
    <div class="row">
      <div class="col-lg-3  col-md-offset-3">
        <img class="img-responsive" src="/modules/core/img/jean-mascot.png" alt="">

      </div>

      <div class="col-lg-4">
        <div class="intro-text">
          <div class="name heading-1">JEAN</div>
          <div class="full-name heading-2">JWT, Express API using Nodejs</div>
        </div>
      </div>

    </div>

    <div class="row details">
      <div class="col-lg-8  col-md-offset-4  ">

        <a href="https://github.com/medullan/jean" target="_blank">
          <div class="about btn pull-left">
            <span>View JEAN</span> <i class="fa fa-external-link"></i>
          </div>

        </a>

        <a href="https://github.com/medullan/jean-ui" target="_blank">
          <div class="about btn pull-left">
            <span>View JEAN-UI</span> <i class="fa fa-external-link"></i>
          </div>
        </a>

        <a href="#about">
          <div class="about btn  pull-left">
            <span>About JEAN</span> <i class="fa fa-chevron-down"></i>
          </div>
        </a>

      </div>



    </div>

  </div>

</section>
